.carrito{
    padding: 1rem 0;
    text-align: center;
    position: fixed;
    top: 0;
    right: 0;
    background-color: var( --texto-principal);
    width: 30rem;
    height: 100vh;
    box-shadow: -2px 0 5px rgba(0,0,0,0.3);
    transition: right 0.5s ease;
  }

  .carritoEscondido{
    position: fixed;
    top: 0px;
    right: -500px;

  }


  .buttonClose{
    margin: 0.5rem;
    border: none;
    font-size: 2rem;
    position: absolute;
    top: 0;
    left: 0;
    cursor:pointer;
  
  }