
 .card {   
    border: 1px solid var(--texto-secundario);
    border-radius: 10px;
    padding: 16px;
    max-width: 300px;
    margin: 20px auto;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  }
  
  .card-img {   
    border-radius: 8px;
    margin-bottom: 15px;
  }
  
  .card-title {
    color: var(--titulo);
    font-size: 20px;
    margin-bottom: 10px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
  }
  
  .card-description {
    color: var(--texto-secundario);
    font-size: 14px;
    margin-bottom: 20px;
  }
  
  .card-btn {
    background-color: var(--boton);
    color: var(--texto-principal);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .card-btn:hover {
    background-color: var(--boton-hover);
    transform: scale(1.05);
  }