header{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 1rem;
}

h1{
    color: var(--titulo);
}

nav{
    display: flex;
    justify-content: space-around;
    width: 40%;
}

nav li{
    list-style: none;
}

.logoNav{
    display: flex;
}

.linkNavBar{
    text-decoration: none;
    font-size: 1.5rem;
    color: var(--enlace);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);  
    transition: 0.2s ease;  
}

.linkNavBar:hover{
    
    color: var(--enlace-hover);
    transform: scale(1.05);
}

.buttonBurgue{
    font-size: 1.5rem;
    padding: 1rem;
    border-radius: 30%;  
    display: none;
    background-color: var(--boton);
    color: var(--texto-principal);
}

.buttonBurgue:hover{
    background-color: var(--boton-hover);
}

.oculto{
    display: none;
}

@media (max-width: 550px) {

    nav {
        background-color: rgb(6,6,6, 0.5);
        display: block;
        text-align: center;
        width: 100%;
    }
    nav li{
        padding: 0.5rem 0;  
    }
    
    h1{
        font-size: 35px;     
    }

    .buttonBurgue{
        display: block;
    }

    .logoNav{
        justify-content:space-around;
        align-items: center;
        width: 100%;
        padding: 1rem 0 ;
   } 
}


