.headerStyle{
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-around;   
}

.headerHome{
    position: absolute;
    z-index: 1;
}

.buttonBurgue{
    font-size: 1.5rem;
    padding: 1rem;
    margin: 1rem;
    border-radius: 30%;  
    display: none;
    background-color: var(--boton);
    color: var(--texto-principal);
}

.buttonBurgue:hover{
    background-color: var(--boton-hover);
}

.oculto{
    display: none;
}

@media (max-width: 550px) {

    header {
        flex-wrap: wrap;
        
    }
    
    .buttonBurgue{
        display: block;
    }

    .logoNav{
        display: flex;
        width: 100%;
        padding: 0rem 1rem ;
   } 
}


