#about{
   
    padding: 3rem 0 ;
    text-align: center;
}

.contenedorAbout{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2rem 1rem;
    flex-wrap: wrap;
}

.textAbout{
    max-width: 40rem;
    text-align: center;
    font-size: 25px;
    line-height: 2;
    color: var(--texto-principal);
}

