footer{
  padding: 2rem 0;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.356);
  color: var(--texto-secundario);    
}

.listaRS{
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.listaRS li{
  margin: 0 1rem;
  font-size: 3rem;
  cursor: pointer;
  list-style: none;
}

.iconoFooter{
  color: var(--enlace);
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);   
  transition: 0.2s ease;  
}

.iconoFooter:hover{
  color: var(--enlace-hover);
  transform: scale(1.20);
  
}

.textFooter{
  padding-top: 1rem;
}
