.divFondo{
    width: 100%;
    height: 1000px;
    background-image: url("../assets/portada-man_jason2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-color: #060606;
}

@media (max-width: 550px) {
    
    .divFondo{    
        background-image: url("../assets/portada-man_jason_celu.jpg");
        background-position: left;
    }
  }