:root {
  --fondo: #121212;
  --texto-principal: #F5F5F5;
  --texto-secundario: #999999;
  --titulo: #C0392B;
  --enlace: #E74C3C;
  --enlace-hover: #FF5733;
  --boton: #8B0000;
  --boton-hover: #FF4500;
  --acento: #00FF41;
}

* {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 0;
  padding: 0;
}

body{
  background-color: var(--fondo);
}

img{
  max-width: 100%;
}

h2, h3, h4{
  font-size: 30px;
  color: var(--titulo);
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}