.cartProductCnt{
    padding: 1rem;
    margin: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);


}

.cartProductInfo{
    text-align: left;

    h4{
        font-size: 1rem;
    }
}

.imgCartProduct{
    width: 5rem;

}

.trashDelete{
    border: none;
    font-size: 1rem;
    cursor:pointer;
}